# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data (Don't push huge data)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
dump/